html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

html {
}

a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
}

body {
	font-family: 'Source Sans Pro';
}

ul {
	list-style-type: none;
}

ul.unstacked li {
	float: left;
}

ul.unstacked:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

ul.margin-left li {
	margin-left: 1.3em;
}

ul.margin-right li {
	margin-right: 22px;
}

#header a,
h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

.wf-loading #header a,
.wf-loading h2 {
	visibility: hidden !important;
}

.wf-inactive #header a, 
.wf-inactive h2, 
.wf-active #header a, 
.wf-active h2 {
	visibility: visible !important;
}

/**************************/

#header {
	width: 100%;
	margin: auto;
	height: 86px;
	position: fixed;
	top: 0;
	background-color: white;
	z-index: 10000;
	border-bottom: 1px solid #ccc; /* #61915D; */
}

#header a {
	font-size: 1.4em;
}

#header #homelink {
	position: absolute;
	left: 52px;
	top: 35px;
}

#header #site-menu {
	position: absolute;
	top: 35px;
	right: 52px;
}

#site-menu li {
}

ul.gallery-list li {
	margin-right: 2em;
/*	line-height: 120%;*/
}

/**************************/

#body {
	margin: 122px 52px 0;
	color: #222;
	font-size: 14px;
}

#body ul {
	margin-bottom: 1.5em;
	line-height: 1.5em;
}


#body h2 {
	font-size: 1.2em;
	margin: .5em 0;
}

#body td {
	border: 0;
	padding: 0 9px 13px 0;
}

#body .set {
	width: 100%;
	overflow: auto;
	white-space : nowrap;
	padding-bottom: 1em;
	-webkit-overflow-scrolling: touch;
}

#body .set img {
	margin-right: 17px;
}

#sitemeter img {
	visibility: hidden;
}

@-webkit-keyframes rock {
    0%   { -webkit-transform: rotate(21deg) }
    50% { -webkit-transform: rotate(16deg) }
	100%   { -webkit-transform: rotate(21deg) }
}
.new.badge {
	-webkit-animation: rock 0.16s 2 ease, rock 0.16s 8 ease; 
	-webkit-animation-delay: 2s, 5s;
	-webkit-transform: rotate(21deg);
	position: absolute;
	top: -15px; 
	right: -18px; 
	height: 100px; 
	width: 100px;
}
