<h2>CV</h2>
<br />

<ul>
	<li>Born in New Hampshire, 1969</li>
	<li>Lives in New York, NY</li>
</ul>

<h2>Education</h2>
<ul>
	<li>B.A. with high honors in applied mathematics, Bates College, Lewiston, Maine, 1991</li>
</ul>

<h2>Solo exhibitions</h2>
<ul>
	<li>Jen Bekman Gallery, New York, NY, 2005</li>
</ul>

<h2>Selected group exhibitions</h2>
<ul>
	<li>Meditations in an Emergency, Jen Bekman Gallery, New York, 2006</li>
	<li>Regarding Clementine, Clementine Gallery, New York, 2005</li>
</ul>

<h2>Selected editorial clients</h2>
<ul>
	<li>GQ, New York Magazine, Women's Wear Daily, Radar Magazine, Modern Painters, The Guardian</li>
</ul>

<h2>Selected reviews and publications</h2>
<ul>
	<li><i>Street World</i>, Abrams Books, 2007</li>
	<li>American Photo, <i>The Innovators</i>, January/February 2007</li>
	<li><i>Fotolog.book</i>, Thames and Hudson, 2006</li>
	<li>Art in America, <i>Down East</i>, Stephen Maine, May 2006</li>
	<li>Artforum, <i>Top Ten</i>, Choire Sicha, September 2004</li>
	<li>The Sunday New York Times, May 2003</li>
</ul>
