<div style="line-height: 2em;"> <!-- text-align: center; margin-left: auto; margin-right: auto; -->
	<ul class="unstacked gallery-list">
		<li>
			<a href="/set/portrait"><h2>Portrait</h2><img src="/images/6635019-R1-019-8.jpg" /></a>
		</li>
	
		<li>
			<a href="/set/spots"><h2>Spots</h2><img src="/images/2007084_6.jpg" /></a>
		</li>
		
		<li>
			<a href="/set/group-swim"><h2>Group swim</h2><img src="/images/02007087_22.jpg" /></a>
		</li>

		<!-- <li style="margin-right: 0;">
			<a href="/set/spots"><h2>Someday there will only be cameraphones</h2><img src="/images/2007084_6.jpg" /></a>
		</li> -->
		
	<ul	>
</div>