<div style="line-height: 2em;"> <!-- text-align: center; margin-left: auto; margin-right: auto; -->
	<ul class="unstacked gallery-list">
		<li>
			<a href="/set/portrait"><h2>Portrait</h2><img src="/images/6635019-R1-019-8.jpg" /></a>
		</li>
	
		<li>
			<a href="/set/spots"><h2>Spots</h2><img src="/images/2007084_6.jpg" /></a>
		</li>
		
		<li>
			<a href="/set/group-swim"><h2>Group swim</h2><img src="/images/02007087_22.jpg" /></a>
		</li>

		<li>
			<iframe src="http://www.formspring.me/widget/view/slowernet?&size=medium&bgcolor=%23fff&fgcolor=%23333" frameborder="0" scrolling="no" width="180" height="275" style="border:none;"><a href="http://www.formspring.me/slowernet">http://www.formspring.me/slowernet</a></iframe>
		</li>
		
		<!-- <li style="margin-right: 0;">
			<a href="/set/spots"><h2>Someday there will only be cameraphones</h2><img src="/images/2007084_6.jpg" /></a>
		</li> -->
		
	<ul	>
</div>