<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Eliot Shepard</title>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<link href="http://eliotshepard.lg1x8zmax.simplecdn.net/screen.css?36" media="all" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<meta name="verify-v1" content="Y1DvOrv9Tas4BrZx5qHOoDEySCN01UsOz6aO3wTx3Qw=" />

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://eliotshepard.lg1x8zmax.simplecdn.net/javascripts/cufon.js"></script>
		<script type="text/javascript" src="http://eliotshepard.lg1x8zmax.simplecdn.net/javascripts/Garamond_Premiere_Pro_400.font.js"></script>
		<script type="text/javascript">Cufon.replace('#header a,h2');</script>

	</head>
	<body>
		<div id="header">
			<a href="/" id="homelink">Eliot Shepard</a>
			<ul id="site-menu">
				<li>
					<ul class="unstacked margin-left">
						<li><a href="/">Photographs</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="http://eliotshepard.tumblr.com/">News</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="body">
			<%= template %>
		</div>

		<script type="text/javascript">Cufon.now(); </script>

		<div id="sitemeter"></div>		
		<script type="text/javascript">
		var ga = document.createElement('script');
		ga.src = 'http://s24.sitemeter.com/js/counter.js?site=s24eliotshepard';
		document.getElementById('sitemeter').appendChild(ga);
		</script>
		<noscript>
			<a href="http://s24.sitemeter.com/stats.asp?site=s24eliotshepard" target="_top"><img src="http://s24.sitemeter.com/meter.asp?site=s24eliotshepard" alt="Site Meter" border="0"/></a>
		</noscript>
		
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-7760704-3']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script');
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			ga.setAttribute('async', 'true');
			document.documentElement.firstChild.appendChild(ga);
		})();
		</script>

	</body>
</html>
