<div style="line-height: 2em;"> <!-- text-align: center; margin-left: auto; margin-right: auto; -->
	<ul class="unstacked gallery-list">
		<li>
			<a href="/set/portrait"><h2>Portrait</h2><img src="http://eliotshepard.com/sets/portrait/DSC_0354.jpg" height="200" /></a>
		</li>

		<li>
			<a href="/set/spots"><h2>Spots</h2><img src="http://eliotshepard.com/sets/spots/71610021.jpg" height="200" /></a>
		</li>
	
		<li style="position: relative;">
			<a href="/set/phone-home">
			<h2>Phone/Home</h2><img src="/images/phone-home.jpg" />
			<img src="/images/new.png" class="new badge"/>
			</a>
		</li>

		<li>
			<a href="/set/group-swim"><h2>Group swim</h2><img src="http://eliotshepard.com/sets/group-swim/4.jpg" height="200" /></a>
		</li>
	</ul>
</div>
