<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
	@import url(/consulting.css);
</style>

<div style="max-width: 540px; margin: 0 auto;">
	<h1><a href="/" style="color: #000;">Eliot Shepard: consulting services</a></h1>

	<h2>Software</h2>
	<ul>
		<li>Platform technology choice</li>
		<li>Software architecture</li>
		<li>Vendor assessment</li>
		<li>Hiring process evaluation</li>
		<li>Hands-on engineering
			<ul style="margin-left: 1.5em; margin-bottom: 0;">
			<li>Ruby, Rails, Sinatra, Cuba</li>
			<li>Node.js, Express</li>
			<li>MySQL, MongoDB, Redis</li>
			<li>Linux devops & deployment</li>
			</ul>
		</li>
	</ul>

	<h2>Product</h2>
	<ul>
		<li>Problem discovery & definition, product ideation</li>
		<li>Product development best practices
			<ul style="margin-left: 1.5em; margin-bottom: 0;">
			<li>Roadmapping, capacity management</li>
			<li>User stories, cases, tasking</li>
			<li>Sprint-based development & standups</li>
			<li>Retrospectives</li>
			<li>Product critique</li>
			<li>user testing, etc.</li>
			</ul>
		</li>
		<li>Positioning, pitch & marketing copy assessment, competitive research</li>
	</ul>

	<a href="/" style="color: #888; font-weight: 700; font-size: 13px; text-transform: uppercase">back</a>
</div>
